### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Другие папки и файлы

#Homework/
.idea/
*.iml
*.xml
.gitignore
.obsidian
/src/Homework/lesson_35/test_created.txt
/src/Homework/lesson_36/files/
/src/Lessons/Lesson_35/src/practice/classwork/files/
/src/Lessons/Lesson_35/src/practice/classwork/newFile.txt

# Project exclude paths
/out/