# Default ignored files
/shelf/
/workspace.xml
.idea/misc.xml


# Игнорировать файлы IDE
.idea/
*.iml

# Временные файлы
*.txt
*.zip
*.png
*.md
# Игнорировать скомпилированные файлы и папку out
out/
*.class